        body{
    text-align: center;
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.game-container{
        text-align:center;
        height:50px;
        width:50px;
}

